${% extends "layout.html" %}

{% block body %}



<div style="margin-top:50px">
  <div>
  	<img style="margin-left:20%" width="400" height="400"  src="../static/assets/img/tudoubing.jpg"/>
  </div>
  <h3 align="center">Potato  20$</h3>
  <p align="center">Siling's Tudoubing</p>
  <div style="margin-left:40%">
	  	<button class="btn btn-hg btn-primary" id="plus1" onclick="op('minus1','value1')" >-</button>
		<button class="btn btn-hg btn-primary" id="value1">0</button>
		<button class="btn btn-hg btn-primary" id="plus1" onclick="op('plus1','value1')">+</button>
  </div>
</div>

<div  style="margin-top:50px">
  <div>
  	<img style="margin-left:20%" width="400" height="400"  src="../static/assets/img/tudoubing.jpg"/>
  </div>
  <h3 align="center">Potato  20$</h3>
  <p align="center">Siling's Tudoubing</p>
  <div style="margin-left:40%">
	  	<button class="btn btn-hg btn-primary" id="plus2" onclick="op('minus2','value2')" >-</button>
		<button class="btn btn-hg btn-primary" id="value2">0</button>
		<button class="btn btn-hg btn-primary" id="plus2" onclick="op('plus2','value2')">+</button>
  </div>
</div>

<div  style="margin-top:50px">
  <div>
  	<img style="margin-left:20%" width="400" height="400"  src="../static/assets/img/tudoubing.jpg"/>
  </div>
  <h3 align="center">Potato  20$</h3>
  <p align="center">Siling's Tudoubing</p>
  <div style="margin-left:40%">
	  	<button class="btn btn-hg btn-primary" id="plus3" onclick="op('minus3','value3')" >-</button>
		<button class="btn btn-hg btn-primary" id="value3">0</button>
		<button class="btn btn-hg btn-primary" id="plus3" onclick="op('plus3','value3')">+</button>
  </div>
</div>

<div  style="margin-top:50px">
  <div>
  	<img style="margin-left:20%" width="400" height="400"  src="../static/assets/img/tudoubing.jpg"/>
  </div>
  <h3 align="center">Potato  20$</h3>
  <p align="center">Siling's Tudoubing</p>
  <div style="margin-left:40%">
	  	<button class="btn btn-hg btn-primary" id="plus4" onclick="op('minus4','value4')" >-</button>
		<button class="btn btn-hg btn-primary" id="value4">0</button>
		<button class="btn btn-hg btn-primary" id="plus4" onclick="op('plus4','value4')">+</button>
  </div>
</div>

<div  style="margin-top:50px">
  <div>
  	<img style="margin-left:20%" width="400" height="400"  src="../static/assets/img/tudoubing.jpg"/>
  </div>
  <h3 align="center">Potato  20$</h3>
  <p align="center">Siling's Tudoubing</p>
  <div style="margin-left:40%">
	  	<button class="btn btn-hg btn-primary" id="plus5" onclick="op('minus5','value5')" >-</button>
		<button class="btn btn-hg btn-primary" id="value5">0</button>
		<button class="btn btn-hg btn-primary" id="plus5" onclick="op('plus5','value5')">+</button>
  </div>
</div>



<div  style="margin-left:45%;margin-top:30px">
	<button class="btn btn-hg btn-primary" id="submit" onclick="submit()">submit</button>
</div>


<script>
var params = {"value1":0,"value2":0,"value3":0,"value4":0,"value5":0};
function submit() 
{
	var form = document.createElement("form");
	form.setAttribute("method", "post");
	form.setAttribute("action", "submit");
	for (var key in params) {
		if (params.hasOwnProperty(key)) {
			var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
		}
	}

	document.body.appendChild(form);
    form.submit();
}
function op(oper, value)
{
	var count = document.getElementById(value);
	if (oper[0]=='p') {
		params[value] += 1;
		count.innerHTML = parseInt(count.innerHTML)+1;
	}
	if (oper[0]=='m') {
		var cur = parseInt(count.innerHTML);
		if (cur > 0) {
			params[value] -= 1;
			count.innerHTML = parseInt(count.innerHTML)-1;
		}
	}

}
</script>

{% endblock %}
